{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar">
                    <!-- Sidebar content -->
                    <h2>My Music</h2>
                    <ul>
                        <li><a href="#liked">Liked Playlists</a></li>
                        <li><a href="#recommended">Recommended Playlists</a></li>
                    </ul>
                </div>
            </nav>
                <div class="main-content">
                    <!-- Liked Playlists Section -->

                    <!-- Liked Playlists Section -->
                    <section id="liked">
                        <h1>Liked Playlists</h1>
                        <div class="row">
                            {% for track in saved_tracks %}
                                <div class="col-md-3 mb-3 song">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ track['track']['name'] }}</h5>
                                            <p class="card-text">{{ track['track']['artists'][0]['name'] }}</p>
                                            <button class="delete-btn" data-track-id="{{ track.track.id }}">Delete</button>
                                            <!-- Add more song details as needed -->
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </section>

                    <!-- Recommended Playlists Section -->
                    <section id="recommended">
                        <h1>Recommended Playlists</h1>
                        {% if total_liked_songs < 3 %}
                            <p> Like at least 3 songs to get recommendation</p>
                        {% else %}
                            <p> You have liked {{ total_liked_songs }} Songs</p>
                            <button id="getRecommendation">Get Recommendation</button>
                            <div id="recommendedPlaylists"></div>
                        {% endif %}
                        <ul>
                            {% for playlist in recommended_playlists %}
                                <li>{{ playlist.name }}</li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
    </div>

{% endblock %}